*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-family: sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}
.bg {
  background-image: url('https://images.pexels.com/photos/3222255/pexels-photo-3222255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
}
.userCard{
  width: 300px;
  /* text-align: center; */
  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0px 0px 10px gray;
  overflow: hidden;
}